<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register</title>
  </head>
  <body>
    <div class="grid grid-cols-1 md:grid-cols-2">
      <div class="h-screen flex items-center justify-center flex-col">
        <h1 class="text-center inline w-[100%] text-3xl my-2">Register</h1>
        <form
          class="flex flex-col items-center justify-center"
          method="POST"
          action=""
        >
          {{ form.hidden_tag() }} {{ form.username(class_="border border-black
          rounded-md my-2 text-center") }} {{ form.password(class_="border
          border-black rounded-md my-2 text-center") }} {{
          form.submit(class_="bg-blue-300 rounded-md my-4 px-2") }}
        </form>
        
        {% if error %}
        <p class="text-red-500">Email Already Exists</p>
        {% endif %}

        <p class="text-center">
          Already have an account?
          <a
            class="text-blue-500 ease-in duration-100 hover:border hover:border-b-blue-500"
            href="{{ url_for('login') }}"
            >Log In</a
          >
        </p>
      </div>
      <div class="hidden flex items-center justify-center md:flex">
        <img src="static\site-img\signup.png" />
      </div>
    </div>

    <!-- tailwindcss -->
    <script src="https://cdn.tailwindcss.com"></script>
  </body>
</html>
